{% extends 'teacher/base.html'%}

{% block user %}

<strong>{{teacher.tea_name}}</strong>
{% endblock user %}

{% block menu %}

            <h2>授课安排</h2>
  			  <li class="level2 level2Style"> <a  href="/teach_info/{{teacher.tea_id}}/">授课信息</a></li>
	          <li class="level2 level2Style"><a  href="/stu_info/{{teacher.tea_id}}/">学生情况</a></li>
  			<h2>成绩管理</h2>
               	<li class="level2 level2Style"><a  href="/usual_score/{{teacher.tea_id}}/">平时成绩</a></li>
               	<li class="level2 level2Style"><a  href="/exam_score/{{teacher.tea_id}}/">考试成绩</a></li>
            <h2>成绩查询</h2>
                <li class="level2 level2Style"><a href="/score_search/{{teacher.tea_id}}/">成绩查询</a></li>
{% endblock menu %}


{% block mainstu %}

<!-- 页面标题 -->
	<div id="TitleArea">
		<div id="TitleArea_Head"></div>
		<div id="TitleArea_Title">
			<div id="TitleArea_Title_Content">
				<img border="0" width="13" height="13"
					src="/static/teac_style/images/title_arrow.gif" /> 学生名单
			</div>
		</div>
		<div id="TitleArea_End"></div>
	</div>
	<!-- 过滤条件 -->
	<div id="QueryArea">
		<form action="/stu_info2/{{teacher.tea_id}}/" method="get">
			<!--<input type="hidden" name="method" value="search">-->
			<!--<input type="text" name="cname" placeholder="请输入课程名称">-->
            <select  name="cname" id="cname">
            <option>请选择课程</option><!--这里要从数据库提取，但我们不会用ajax-->
            {% for name in names%}
            <option>{{name}}</option>
            {%endfor%}
            </select>
            <select  name="seme" id="seme">
            <option>请选择学期</option><!--这里要从数据库提取，但我们不会用ajax-->
            {% for seme in semester%}
            <option>{{seme}}</option>
            {%endfor%}
            </select>
            <select  name="class" id="class">
            <option>请选择班级</option><!--这里要从数据库提取，但我们不会用ajax-->
				{%for class in classes%}
            <option>{{class}}</option>
            {%endfor%}
            </select>
			<input type="submit" value="搜索">
		</form>
	</div>

	<!-- 主内容区域（数据列表或表单显示） -->
	<div id="MainArea">
		<table width="30%" align="center" cellpadding="0" cellspacing="0" class="MainArea_Content">
			<!-- 表头-->
<thead>
				<tr align="center" valign="middle" id="TableTitle">
					<td width="16%">学号</td>
				  		<td>姓名</td>
	  </tr>
			</thead>
			<!--显示数据列表 -->
			<tbody id="TableData">
            {% for stu in students %}
			<tr class="TableDetail1" >
				<td>{{stu.stu_id}}&nbsp;</td>
				<td>{{stu.stu_name}}&nbsp;</td>

			</tr>
            {% endfor %}



			</tbody>
		</table>
</div>

{% endblock mainstu%}
